<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PAGE THREE</title>
<link href="styles/normalize.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
<link href="styles/custom.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
	<div class="row-fluid margin-top">
    	<div class="span3"><a href="#" class="btn">Home</a></div>
        <div class="span3"><a href="#" class="btn">View Recipes</a></div>
        <div class="span2 offset4"><a href="#" class="btn bold">Logout</a></div>
    </div>
    
    <div class="row-fluid">
    	<div class="span8 offset2 bg-white title-style ">
        	<h1>ADD YOUR RECIPE</h1>
        </div>
    </div>
    
    <div class="offset2 span9 centre-table margin-3em row-fliud">
    	<table class="two-cln">
        	<tr>
            	 <td class="left-align bold">TITLE</td> <td><input type="text" class="span5"></td>
            </tr>
            
            <tr>
            	<td class="left-align bold">INGRIDIENTS</td> <td><textarea class="span5"></textarea></td>
                
            </tr>

            <tr>
            	<td class="left-align bold">DESCRIPTION</td> <td><textarea class="span5"></textarea></td>
                
            </tr>
        </table>
    </div>
    
    <div class="row-fluid offset6 span2">
    	<input type="submit" name="submit" value="SAVE" class="btn span2 bold color"/>
    </div>
    
</div>




<!--jquery for bootstrap plugins-->
<script src="bootstrap/js/jquery-latest.js"></script>

<!--include all compiled plugins-->
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>