<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PAGE FIVE</title>
<link href="{{url_for('static', filename='styles/normalize.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='styles/custom.css')}}" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
	<div class="row-fluid margin-top">
    	<div class="span3"><a href="/" class="btn">Home</a></div>
        <div class="span3"><a href="#" class="btn">View Public Recipes</a></div>
        <div class="span2 offset4"><a href="{{url_for('main.login')}}" class="btn bold">Sign In</a></div>
    </div>
    
    <div class="row-fluid">
    	<div class="span8 offset2 bg-white title-style ">
        	<h1>CREATE ACCOUNT</h1>
        </div>
    </div>
    
    <div class="offset2 span9 centre-table margin-3em row-fliud">
    	<table class="two-cln">
        	<tr><td class="left-align bold">FULL NAME:</td> <td><input type="text" class="span5" name="fullname"></td></tr>
            
            <tr><td class="left-align bold">EMAIL:</td> <td><input type="email" class="span5" name="fullname"></td></tr>
      
            <tr><td class="left-align bold">PASSWORD:</td> <td><input type="password" name="password" class="span5" /></td></tr>
            
            <tr><td class="left-align bold">CONFIRM PASSWORD:</td> <td><input type="password" name="password" class="span5" /></td></tr>
            
            
        </table>
    </div>
    
    <div class="row-fluid offset6 span2">
    	<input type="submit" name="submit" value="SIGN UP" class="btn span2 bold color"/>
    </div>
    
</div>




<!--jquery for bootstrap plugins-->
<script src="{{url_for('static', filename='bootstrap/js/jquery-latest.js')}}"></script>

<!--include all compiled plugins-->
<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
</body>
</html>